/*************************************
Default i4 CSS - ver.1.0 - 12.01.2011

Updated > ver. 2.0 - 12.10.2012
*************************************/

/* **************** GRIDS ***************** */
.line, .lastUnit {overflow: hidden;_overflow:visible;_zoom:1; position: relative;}
.overhidden {overflow: hidden;}
.unit {float: left;}
.unitExt {float: right;}

.unit.last, .unitExt.last {margin-right: 0;}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.onecol {width: 60px;}
.twocol {width: 140px;}
.threecol {width: 230px;}
.fourcol {width: 300px;}
.fivecol {width: 380px;}
.sixcol {width: 460px;}
.sevencol {width: 540px;}
.eightcol {width: 620px;}
.ninecol {width: 700px;}
.tencol {width: 780px;}
.elevencol {width: 860px;}
.twelvecol {width: 940px;}

.half {width: 49.9%;}

/* **************** CONTENT OBJECTS ***************** */
/* **************** Default spacing **************** */
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl,
ul h1,ul h2,ul h3, ul h4, ul h5, ul h6, ul p, ul ul, ul ol, ul dl,
ol h1,ol h2,ol h3, ol h4, ol h5, ol h6, ol p, ol ul, ol ol, ol dl {padding:0; margin: 0;}
/* **************** Headings **************** */

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

p { margin: 0 0 1.5em; }

h1, h2, h3 {line-height: 40px;}
h1 {font-size: 38.5px;}
h2 {font-size: 31.5px;}
h3 {font-size: 24.5px;}
h4 {font-size: 17.5px;}
h5 {font-size: 14px;}
h6 {font-size: 11.9px;}

h1 small {font-size: 24.5px;}
h2 small {font-size: 17.5px;}
h3 small {font-size: 14px;}
h4 small {font-size: 14px;}


/* **************** Elements **************** */

img{border:none;}
em, .italic{font-style: italic;}
strong, .strong, .bold{font-weight:bold;}
hr{height:1px; width:auto; margin: 10px 0;}
code, .code{color:#6d6d6d;}
small, .small {font-size: 85%;}

/* **************** General Spacing ***************** */
/*Padding (top): by 5px */
.ptop1 { padding-top: 5px;}
.ptop2 { padding-top: 10px;}
.ptop3 { padding-top: 15px;}
.ptop4 { padding-top: 20px;}
.ptop5 { padding-top: 25px;}
.ptop6 { padding-top: 30px;}
.ptop7 { padding-top: 35px;}
.ptop8 { padding-top: 40px;}
.ptop9 { padding-top: 45px;}
.ptop10 { padding-top: 50px;}

/*Padding (right): by 5px */
.pright1 { padding-right: 5px;}
.pright2 { padding-right: 10px;}
.pright3 { padding-right: 15px;}
.pright4 { padding-right: 20px;}
.pright5 { padding-right: 25px;}
.pright6 { padding-right: 30px;}
.pright7 { padding-right: 35px;}
.pright8 { padding-right: 40px;}
.pright9 { padding-right: 45px;}
.pright10 { padding-right: 50px;}

/*Padding (bottom): by 5px */
.pbottom1 { padding-bottom: 5px;}
.pbottom2 { padding-bottom: 10px;}
.pbottom3 { padding-bottom: 15px;}
.pbottom4 { padding-bottom: 20px;}
.pbottom5 { padding-bottom: 25px;}
.pbottom6 { padding-bottom: 30px;}
.pbottom7 { padding-bottom: 35px;}
.pbottom8 { padding-bottom: 40px;}
.pbottom9 { padding-bottom: 45px;}
.pbottom10 { padding-bottom: 50px;}

/*Padding (left): by 5px */
.pleft1 { padding-left: 5px;}
.pleft2 { padding-left: 10px;}
.pleft3 { padding-left: 15px;}
.pleft4 { padding-left: 20px;}
.pleft5 { padding-left: 25px;}
.pleft6 { padding-left: 30px;}
.pleft7 { padding-left: 35px;}
.pleft8 { padding-left: 40px;}
.pleft9 { padding-left: 45px;}
.pleft10 { padding-left: 50px;}

/*No Padding*/
.nopadding { padding:0 !important;}

/*Margin (top): by 5px */
.mtop1 { margin-top: 5px;}
.mtop2 { margin-top: 10px;}
.mtop3 { margin-top: 15px;}
.mtop4 { margin-top: 20px;}
.mtop5 { margin-top: 25px;}
.mtop6 { margin-top: 30px;}
.mtop7 { margin-top: 35px;}
.mtop8 { margin-top: 40px;}
.mtop9 { margin-top: 45px;}
.mtop10 { margin-top: 50px;}

  .pullmtop1 { margin-top: -5px;}
  .pullmtop2 { margin-top: -10px;}
  .pullmtop3 { margin-top: -15px;}
  .pullmtop4 { margin-top: -20px;}
  .pullmtop5 { margin-top: -25px;}
  .pullmtop6 { margin-top: -30px;}
  .pullmtop7 { margin-top: -35px;}
  .pullmtop8 { margin-top: -40px;}
  .pullmtop9 { margin-top: -45px;}
  .pullmtop10 { margin-top: -50px;}

/*margin (right): by 5px */
.mright1 { margin-right: 5px;}
.mright2 { margin-right: 10px;}
.mright3 { margin-right: 15px;}
.mright4 { margin-right: 20px;}
.mright5 { margin-right: 25px;}
.mright6 { margin-right: 30px;}
.mright7 { margin-right: 35px;}
.mright8 { margin-right: 40px;}
.mright9 { margin-right: 45px;}
.mright10 { margin-right: 50px;}

  .pullmright1 { margin-right: -5px;}
  .pullmright2 { margin-right: -10px;}
  .pullmright3 { margin-right: -15px;}
  .pullmright4 { margin-right: -20px;}
  .pullmright5 { margin-right: -25px;}
  .pullmright6 { margin-right: -30px;}
  .pullmright7 { margin-right: -35px;}
  .pullmright8 { margin-right: -40px;}
  .pullmright9 { margin-right: -45px;}
  .pullmright10 { margin-right: -50px;}

/*margin (bottom): by 5px */
.mbottom1 { margin-bottom: 5px;}
.mbottom2 { margin-bottom: 10px;}
.mbottom3 { margin-bottom: 15px;}
.mbottom4 { margin-bottom: 20px;}
.mbottom5 { margin-bottom: 25px;}
.mbottom6 { margin-bottom: 30px;}
.mbottom7 { margin-bottom: 35px;}
.mbottom8 { margin-bottom: 40px;}
.mbottom9 { margin-bottom: 45px;}
.mbottom10 { margin-bottom: 50px;}

  .pullmbottom1 { margin-bottom: -5px;}
  .pullmbottom2 { margin-bottom: -10px;}
  .pullmbottom3 { margin-bottom: -15px;}
  .pullmbottom4 { margin-bottom: -20px;}
  .pullmbottom5 { margin-bottom: -25px;}
  .pullmbottom6 { margin-bottom: -30px;}
  .pullmbottom7 { margin-bottom: -35px;}
  .pullmbottom8 { margin-bottom: -40px;}
  .pullmbottom9 { margin-bottom: -45px;}
  .pullmbottom10 { margin-bottom: -50px;}

/*margin (left): by 5px */
.mleft1 { margin-left: 5px;}
.mleft2 { margin-left: 10px;}
.mleft3 { margin-left: 15px;}
.mleft4 { margin-left: 20px;}
.mleft5 { margin-left: 25px;}
.mleft6 { margin-left: 30px;}
.mleft7 { margin-left: 35px;}
.mleft8 { margin-left: 40px;}
.mleft9 { margin-left: 45px;}
.mleft10 { margin-left: 50px;}

  .pullmleft1 { margin-left: -5px;}
  .pullmleft2 { margin-left: -10px;}
  .pullmleft3 { margin-left: -15px;}
  .pullmleft4 { margin-left: -20px;}
  .pullmleft5 { margin-left: -25px;}
  .pullmleft6 { margin-left: -30px;}
  .pullmleft7 { margin-left: -35px;}
  .pullmleft8 { margin-left: -40px;}
  .pullmleft9 { margin-left: -45px;}
  .pullmleft10 { margin-left: -50px;}

/*No Margin*/
.nomargin { margin: 0 !important;}

/*  A special hack is included for IE8 since it does not apply padding correctly on fieldsets */
label    { font-weight: bold; }
fieldset { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend   { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }
fieldset, #IE8#HACK { padding-top:1.4em; }
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields-------------------------------------------------------------- */
input[type=text], input[type=password], input[type=url], input[type=email],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {overflow: auto;}

input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }
input[type=text], input[type=password], input[type=url], input[type=email],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}
input.text,
input.title { width: 300px; padding:5px; }
input.title { font-size:1.5em; }
textarea { width: 390px; min-height: 100px; padding:5px; resize: vertical; }
/* This is to be used on forms where a variety of elements are placed side-by-side. Use the p tag to denote a line. */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

a.button:hover {
  text-decoration:  none !important;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {  width: 60px;}
.input-small {  width: 90px;}
.input-medium {  width: 150px;}
.input-large {  width: 210px;}
.input-xlarge {  width: 270px;}
.input-xxlarge {  width: 530px;}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

/*Custom Radio Check Box*/
/*jquery.custom_radio_checkbox.js*/
.radio {
    height: 25px;
    width: 0;
    clear:left;
    float:left;
    margin: -2px 0 3px;
    padding: 0 0 0 26px;
    background: url("../images/radio.png");
    background-repeat:no-repeat;
    cursor: default;
}
.checkbox {
    height: 25px;
    width: 0;
    clear:left;
    float:left;
    margin: -2px 0 3px;
    padding: 0 0 0 26px;
    background: url("../images/checkbox.png") no-repeat;
    cursor: default;
    text-align:left;
}
.checkbox input,.radio input {
    display: none;
}
.checkbox input.show,.radio input.show {
    display: inline;
}
/*Custom Radio Check Box*/

/* **************** Body Styles ***************** */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Tahoma, Geneva, sans-serif;*/
}

a { text-decoration: none;}
a:hover { text-decoration: none;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav > ul {
    margin: 0;
    padding: 0;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/***************** Blockquote Style ***************** */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small:before {
  content: '';
}

blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
/**/
blockquote {
    padding: 0 20% 0 10%;
    font: italic 1.2em serif;
    color: #666;
}
blockquote:before, blockquote:after {
    display: block;
    font-size: 300%;
    color: #ccc;
}
blockquote:before {
    content: open-quote;
    margin-left: -10%;
    height: 0;
}
blockquote:after {
    content: close-quote;
    margin-left: 100%;
    margin-top: -33px;
    height: 33px;
}
/**/
/***************** Order/Unordered Listings Style ***************** */
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

li {
  line-height: 20px;
}

ul.inline li {display: inline;}
ul.inline-block li {display: inline-block;}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

dl {
  margin-bottom: 20px;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

/***************** Text Link styles ***************** */
.muted { color: #999999;}
.text-warning { color: #c09853;}
a.text-warning:hover { color: #a47e3c;}
.text-error { color: #b94a48;}
a.text-error:hover { color: #953b39;}
.text-info { color: #3a87ad;}
a.text-info:hover { color: #2d6987;}
.text-success { color: #468847;}
a.text-success:hover { color: #356635;}

/***************** image border styles ***************** */
.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

/**/
#map_canvas img,
.google-maps img {
  max-width: none;
}

.hide { display: none;}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* **************** Audio/Video Related ***************** */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*buttons*/

.button {
  display: inline-block;
  *display: inline;
  padding: 3px 12px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: /*inset 0 1px 0 rgba(255, 255, 255, 0.2),*/ 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: /*inset 0 1px 0 rgba(255, 255, 255, 0.2), */0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: /*inset 0 1px 0 rgba(255, 255, 255, 0.2), */0 1px 2px rgba(0, 0, 0, 0.05);
}
.button:hover,
.button:active,
.button.active,
.button.disabled,
.button[disabled] {
  color: #333333;
  background: #e6e6e6;
  *background: #d9d9d9;
}
.button:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button.active,
.button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button.disabled,
.button[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.button.blue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.button.blue:hover,
.button.blue:active,
.button.blue.active,
.button.blue.disabled,
.button.blue[disabled] {
  color: #ffffff;
  background: #0044cc;
  *background: #003bb3;
}

.button.blue:active,
.button.blue.active {
  background: #003399 \9;
}
.button.red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.button.red:hover,
.button.red:active,
.button.red.active,
.button.red.disabled,
.button.red[disabled] {
  color: #ffffff;
  background: #bd362f;
  *background: #a9302a;
}

.button.red:active,
.button.red.active {
  background: #942a25 \9;
}

.button.yellow {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background: #f2d50f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZDUwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmMwMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2d50f 0%, #dbc009 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2d50f), color-stop(100%,#dbc009)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2d50f 0%,#dbc009 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2d50f 0%,#dbc009 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2d50f 0%,#dbc009 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f2d50f 0%,#dbc009 100%); /* W3C */
}

.button.yellow:hover,
.button.yellow:active,
.button.yellow.active,
.button.yellow.disabled,
.button.yellow[disabled] {
  color: #ffffff;
  background: #c6ad02;
  *background: #c6ad02;
}

.button.yellow:active,
.button.yellow.active {
  background: #c6ad02 \9;
}

.button.green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background: #207748; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNzc0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzY2MzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #207748 0%, #036630 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207748), color-stop(100%,#036630)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #207748 0%,#036630 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #207748 0%,#036630 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #207748 0%,#036630 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #207748 0%,#036630 100%); /* W3C */
}

.button.green:hover,
.button.green:active,
.button.green.active,
.button.green.disabled,
.button.green[disabled] {
  color: #ffffff;
  background: #1c541c;
  *background: #1c541c;
}

.button.green:active,
.button.green.active {
  background: #408140 \9;
}

.button.dark {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.button.dark:hover,
.button.dark:active,
.button.dark.active,
.button.dark.disabled,
.button.dark[disabled] {
  color: #ffffff;
  background: #222222;
  *background: #151515;
}

.button.dark:active,
.button.dark.active {
  background: #080808 \9;
}

.button.violet {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #65379e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1Mzc5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzAzODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #65379e 0%, #3c0384 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65379e), color-stop(100%,#3c0384)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #65379e 0%,#3c0384 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #65379e 0%,#3c0384 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #65379e 0%,#3c0384 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #65379e 0%,#3c0384 100%); /* W3C */
}

.button.violet:hover,
.button.violet:active,
.button.violet.active,
.button.violet.disabled,
.button.violet[disabled] {
  color: #ffffff;
  background: #411775;
  *background: #411775;
}

.button.violet:active,
.button.violet.active {
  background: #411775 \9;
}
.button.slim {
  padding: 0 5px;
  font-size: 80% !important;
  font-weight: normal;
  font-family:Arial, Helvetica, sans-serif !important;
  color: #333333;
}
.button.small {
  padding: 3px 5px;
  font-size: 85% !important;
}
.button.large {
  padding: 7px 17px;
  font-size: 115% !important;
}

/*Alert*/
.alert {
  padding: 4px 35px 4px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}

.alert.yellow {
  background-color: #dbc009;
  color:  #fff;
  text-shadow: 1px 1px 0 #c6ad05;
  font-weight: bold;
  font-size: 15px;
   border: none;
}
.alert.green {
  background-color: #036630;
  color:  #fff;
  text-shadow: 1px 1px 0 #014520;
  font-weight: bold;
  font-size: 15px;
   border: none;
}
.alert.gray {
  background-color: #767676;
  color:  #fff;
  text-shadow: 1px 1px 0 #5e5e5e;
  font-weight: bold;
  font-size: 15px;
   border: none;
}
.alert.violet {
  background-color: #3c0384;
  color:  #fff;
  text-shadow: 1px 1px 0 #2d0066;
  font-weight: bold;
  font-size: 15px;
   border: none;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/*custom*/
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.center {margin: 0 auto;}
.default { cursor: default; text-decoration: none; }
.pointer {cursor: pointer;}
.full { width: 100%;}
.wauto{width: auto;}
.non_select {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;-o-user-select: none;user-select: none !
;}
button { cursor: pointer;}
.nonfloat { float:none !important;}
.nobg { background: none !important;}
.noborder {border: none !important;}
.required{ color: #ef1010 !important;}
.block {display: block !important;}
.tleft {text-align: left;}
.tright {text-align: right;}
.tcenter{text-align: center;}

.font11 { font-size:11px !important;}
.font12 { font-size:12px !important;}
.font14 { font-size:14px !important;}
.font16 { font-size:16px !important;}
.font18 { font-size:18px !important;}
.font20 { font-size:20px !important;}
.font22 { font-size:22px !important;}
.font24 { font-size:24px !important;}
.font26 { font-size:26px !important;}
.font28 { font-size:28px !important;}
.font30 { font-size:30px !important;}
.font32 { font-size:32px !important;}
