/* Custom CSS */

html { font-size:62.5% }
body {
    font-family: 'PT Serif', serif;
    color: #333;
    font-size: 16px;
}
img{
    max-width: 100%;
}
.nopadding{
    padding: 0 !important;
}
.invisible{
    opacity:0;
    display: block!important;
}
.visible{
    opacity:1;
}
.hidden-o {
   opacity: 0;
 }
.visible-o {
   opacity: 1;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #d1a42a;
    font-weight: 400;
    text-align: center;
}
.dotted::before, .dotted::after {
    content: "";
    background-color: #d1a42a;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    vertical-align: middle;
}
.dotted::before { margin-right: 20px; }
.dotted::after { margin-left: 20px; }

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.2s ease-in-out;
}
header a {
    color: #fff;
    font-size: 22px;
    margin: 40px 25px;
    display: block;
}
header a:hover,
header a:focus {
    color: #fff;
}
header .logo {
    display: block;
    margin: 0 auto;
    width: 350px;
    transition: all 0.2s ease-in-out;
}
header .search {
    text-align: right;
}

header .menu .selector {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    width: 65px;
    border: 1px solid #fff;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1;
}
header .menu .selector .bar-icon {
    display: block;
    margin-top: 6px;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;


    -webkit-transform-origin: 45% 45%;
    -o-transform-origin: 45% 45%;
    -ms-transform-origin: 45% 45%;
    -moz-transform-origin: 45% 45%;
    transform-origin: 45% 45%;
}
header .menu .selector .bar-icon:first-child { margin-top: 0; }
.active .menu-icons-wrapper .bar-icon:first-child { transform: rotate(45deg) translate3d(6px, 5px, 0); }
.active .menu-icons-wrapper .bar-icon:nth-child(2) { transform: rotate(-45deg) translate3d(0, 1px, 0); }
.active .menu-icons-wrapper .bar-icon:last-child { opacity: 0; }

header.show {
    background-color: #151515;
}
header.show .logo {
    width: 240px;
    transition: all 0.2s ease-in-out;
}

.menu-items {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
    border-radius: 3px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
    opacity: 0;
    overflow-y: auto;
    transform: translateY(100%);
    -webkit-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 0);
    -o-transition:      all 0.3s cubic-bezier(0.680, 0, 0.265, 0);
    transition:         all 0.3s cubic-bezier(0.680, 0, 0.265, 0);

    background-color: #151515;
    z-index: 9;
}
.menu-items.show {
    opacity: 1;
    transform: translateY(0);
}
.menu-items.show ul > li {
    opacity: 1;
    transform: translateY(0);
}
.menu-items .row {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items ul li {
    display: block;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s linear;
}
.menu-items ul li:nth-child(2) {
    transition: all 0.7s linear;
}
.menu-items ul li:last-child {
    transition: all 0.9s linear;
}
.menu-items ul li > a {
    color: #fff;
    font-size: 30px;
    padding: 30px;
    display: block;
}

.searchform {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
    border-radius: 3px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
    opacity: 0;
    overflow-y: auto;
    transform: translateY(100%);
    -webkit-transition: all 0.3s cubic-bezier(0.680, 0, 0.265, 0);
    -o-transition:      all 0.3s cubic-bezier(0.680, 0, 0.265, 0);
    transition:         all 0.3s cubic-bezier(0.680, 0, 0.265, 0);

    background-color: #151515;
    z-index: 9;
}
.searchform.show {
    opacity: 1;
    transform: translateY(0);
}
.searchform .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchform .form-control {
    font-family: 'PT Serif', serif;
    font-size: 26px;
    color: #fff;
    padding: 40px 20px;
    background-color: transparent;
    box-shadow: 0 0 0;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.searchform em {
    display: block;
    color: rgba(255,255,255,0.6);
    margin: 20px 0;
    font-size: 16px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s linear;
}
.searchform .input-group {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s linear;
}
.searchform .input-group .input-group-btn > .btn {
    font-size: 26px;
    padding: 29.5px;
    line-height: normal;
    background: transparent;
    color: #fff;
    border-radius: 0;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.searchform.show .input-group,
.searchform.show em {
    opacity: 1;
    transform: translateY(0);    
}
.search.active > .fa-search {
    display: none;
}
.search > .fa-times {
    display: none;
}
.search.active > .fa-times {
    display: block;
}

.hero-section {
    position: relative;
}
.hero-section .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands {
    margin-bottom: 100px;
    padding: 30px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 20px 30px rgba(0,0,0,0.06);
}
.brands .carousel-control.left,
.brands .carousel-control.right {
    background: #e9e9e9;
}
.brands .carousel-inner { padding: 20px 48px; }
.brands .carousel-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px 0;
    text-align: center;
    color: #666;
    text-shadow: 0 0 0;
    opacity: 1;
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
}


.about {
    margin-bottom: 100px;
    background-color: #f2eee3;
}
.about .col-md-7 {
    text-align: center;
    padding: 30px;
}
.about p {
    line-height: 1.8;
    margin: 30px 0 15px;
}
.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
}


.products {
    padding: 40px;
}
.products h2 {
    margin-bottom: 100px;
}
.products .col-md-3 {
    min-height: 415px;
}
.products .product-img {
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center center;
}
.products h3,
.products p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.products p {
    color: #d1a42a;
    margin: 0;
}
.products h3 {
    margin-top: 18px;
    margin-bottom: 5px;
    line-height: inherit;
}

.prod-content .product-img {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #f2f2f2;
}
.product-details {
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.product-details p {
    color: #d1a42a;
    font-size: 30px;
    font-family: 'Fjalla One', serif;
    padding-top: 25px;
    margin: 0;
}
.product-details p > small {
    color: #a8a8a8;
    font-size: 64%;
    margin-right: 10px;
}
.payment {
    padding-bottom: 30px;
}
.payment strong {
    display: block;
}
.payment img {
    border: 1px solid #eee;
    margin: 20px 5px 0 0;
}
.payment p {
    font-size: 35px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.backbtn {
    display: block;
    text-align: center;
    border-top: 1px solid #ddd;
    color: #333;
    padding: 25px 30px;
    margin: 10px 0;
}
.backbtn > i {
    transform: translateX(0);
    transition: transform 0.2s ease;
}
.backbtn:hover > i {
    transform: translateX(-10px);
}
.backbtn:hover {
    color: #d1a42a;
}


footer {
    background-color: #151515;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}
footer > p {
    font-size: 14px;
    padding: 30px;
    margin: 0;
}
.subfooter {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.subfooter h4 {
    letter-spacing: 3px;
}
.subfooter .social > li,
.subfooter .ftrlinks > li {
    display: inline-block;
}
.subfooter ul {
    margin-left: 0;
}
.subfooter a {
    color: #fff;
}
.subfooter .social > li {
    margin: 5px 5px 15px;
}
.subfooter .social > li > a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    border: 2px solid #fff;
    border-radius: 50%;
}
.subfooter .ftrlinks > li > a {
    padding: 10px 6px;
}

.landing {
    padding-bottom: 50px;
}
.landing h1 {
    padding: 200px 40px 100px;
    color: #fff;
    text-align: center;
    background-color: #333;
    overflow: hidden;
    margin: 0 0 40px;
}
.landing h2 {
    text-align: left;
    text-transform: uppercase;
}

/*MEDIA QUERIES (RESPONSIVE)*/
/* Desktops  */
@media (min-width:1152px) {
    html { font-size:2em }
}

/* Tablets */
@media (min-width:768px) and (max-width:1024px) {
    html { font-size:1.6em }

}
@media (max-width: 768px){

}

/* Phones */
@media (max-width:750px) {
    html { font-size:1.2em }
    header.show .logo {
        margin-top: 20px;
    }
    header .menu .selector {
        margin: 20px 0;
    }
    .hero-section .overlay > img {
        width: 65%;
    }
    
    .payment,
    .payment p,
    .payment em, 
    .payment strong,
    .product-details,
    .product-details p {
        display: block;
        text-align: center;
    }
    .products .product-img {
        height: 150px;
    }
    .products .col-md-3 {
        min-height: 280px;
    }
}
/*END MEDIA QUERIES (RESPONSIVE)*/
